<div class="rectangle"></div>
<footer>
    <div class="centered">
        <section class="main">
            <div class="left">
                <img src="/assets/logo.png" alt="Logo">
                <div class="name">
                    <h2>TaskHub</h2>
                    <span>Produza muito mais</span>
                </div>
            </div>

            <div class="right">
                <section class="info">
                    <h4>Mais informações</h4>
                    <h5>Sobre nós</h5>
                    <h5>Termos e Condições</h5>
                    <h5>Política de Privacidade</h5>
                </section>
                <section class="stores">
                    <h4>Baixe o app</h4>
                    <img src="./assets/google-play.png" alt="Google Play" width="146" height="41">
                    <img src="./assets/app-store.png" alt="App Store" width="146" height="41">
                </section>
            </div>
        </section>
    </div>

    <section class="copyright">
        <span>© 2024 TaskHub. Todos os direitos reservados.</span>
    </section>
</footer>
