body{
    box-sizing: border-box;
    background-color: rgb(255,249,179);
    display: flex;
    justify-content: center;
}

.container{
    height: 1150px;
    width: 430px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    gap: 3%;
    left: 3%;
}

#card1{
    width: 420px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color:rgb(255, 246, 147);
    border-radius: 10px;
    padding: 15px;
}

#card1 h2{
    text-align: center;
}

#card2{
    width: 420px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color:rgb(255, 246, 147);
    border-radius: 10px;
}

#card2 h2{
    text-align: center;
    font-size: 30px;
}

#card2 h3{
    text-align: center;
    font-size: 25px;
}

#card2 h4{
    text-align: center;
    font-size: 45px;
    color: rgb(130, 209, 115);
    margin: 20px 0px 20px;
}

#card2 h5{
    text-align: center;
    font-size: 45px;
    color: rgb(237, 126, 126);
    margin: 20px 0px 20px;
}