<footer>
    <section class="main-section">
        <img src="/assets/logo.png" alt="Logo">
        <div class="name">
            <h2>TaskHub</h2>
            <span>Produza muito mais</span>
        </div>
    </section>
    <section class="info">
        <h4>Mais informações</h4>
        <h5>Sobre nós</h5>
        <h5>Termos e Condições</h5>
        <h5>Política de Privacidade</h5>
    </section>
    <section class="stores">
        <h4>Baixe o app</h4>
        <img src="./assets/google-play.png" alt="Google Play" width="227" height="68">
        <img src="./assets/app-store.png" alt="App Store" width="227" height="68">
    </section>
    <section class="copyright">
        <span>© 2024 TaskHub. Todos os direitos reservados.</span>
    </section>
</footer>
