<header>
    <div class="logo">
    <img id="logo" src="/assets/logo.svg">
    <button id="btn-logo" routerLink="/home">TaskHub</button>
    </div>
    <section>
        <div class="dropdown-menu">
            <div>
                <button id="meus-projetos">Meus Projetos</button>
                <img src="/assets/down.svg">
            </div>
            <div>
                <button id="recentes">Recentes</button>
                <img src="/assets/down.svg">
            </div>
            <div>
                <button id="criar">Criar</button>
            </div>
        </div>
    </section>
        <div class="user">
            <b>Catzinho</b>
            <img src="/assets/user.svg">
        </div>
</header>