<app-header2></app-header2>
<body>
<header>
    <h2 id="title">Sem título</h2>
    <section class="menu">
        <div id="addt">
            <button>Adicionar tarefa</button>
            <img src="/assets/plus2.svg">
        </div>
        <div id="addl">
            <button>Adicionar lista</button>
            <img src="/assets/plus2.svg">   
        </div>
        <div id="menu">
            <img src="/assets/undo.svg">
            <img src="/assets/foward.svg">
        </div>
        <div>
            <img src="/assets/erase.svg">
        </div>
    </section>
    <section class="options">
        <div id="templates">
            <img src="/assets/template.svg">
            <h2>Templates</h2>
        </div>
        <div id="filter">
            <img src="/assets/filter.svg">
            <h2>Filtros</h2>
        </div>
        <div class="option">
            <button class="btn-options">
                <img src="/assets/more.svg">
                <h2>Opções</h2>
            </button>
            <div class="content">
                <h2>Menu</h2>
                <div id="content">
                    <hr>
                    <button>
                        <img src="/assets/info.svg">
                        <b>Informações do projeto</b>
                    </button>
                    <button>
                        <img src="/assets/task.svg">
                        <b>Tarefas</b>
                    </button>
                    <hr>
                    <button>
                        <img src="/assets/settings.svg">
                        <b>Configurações</b>
                    </button>
                    <button>
                        <img src="/assets/background.svg">
                        <b>Trocar imagem de fundo</b>
                    </button>
                    <button>
                        <img src="/assets/priority.svg">
                        <b>Configurar prioridade</b>
                    </button>
                    <hr>
                    <button>
                        <img src="/assets/copy.svg">
                        <b>Copiar projeto</b>
                    </button>
                    <button>
                        <img src="/assets/share.svg">
                        <b>Compartilhar</b>
                    </button>
                    <button>
                        <img src="/assets/download.svg">
                        <b>Baixar</b>
                    </button>
                    <button>
                        <img src="/assets/print.svg">
                        <b>Imprimir</b>
                    </button>
                    <button>
                        <img src="/assets/delete.svg">
                        <b>Excluir</b>
                    </button>
                    <button>
                        <img src="/assets/logout.svg">
                        <b>Sair do projeto</b>
                    </button>
                </div>
            </div>
        </div>
    </section>
</header>
</body>