<body>
    <section>
        <div class="card">
            <img src="assets/fechar.svg" id="fechar">
            <img src="assets/logo.svg" id="logo">
            <div class="email">
                <input type="text" id="user" autocomplete="off" required>
                <label for="user">Email</label>
            </div>
            <b>Ou faça login com:</b>
            <div class="logins">
                <img src="assets/google.svg">
                <img src="assets/microsoft.svg">
                <img src="assets/apple.svg">
            </div>
                <a id= "continuar" routerLink="/login2" > Continuar </a>
            <div class="links">
                <a> Crie uma conta </a>
                <b>.</b>
                <a> Não consigo entrar </a>
            </div>
        </div>
    </section>
</body>
