<body>
    <main>
        <section>
            <div class="card">
                <img src="/assets/Logo.png">
                <h2> Login </h2>
                <input type="text" id="user" autocomplete="off" required>
                <label for="user">Email</label>
                <button class="botao"> Continuar </button>
                <div>
                    <a Link> Não consigo entrar </a>
                    <a Link> Cadastrar </a>
                </div>
            </div>
        </section>
    </main>
</body>