<body>
    <section>
        <div class="card">
            <img src="assets/Fechar.svg" id="fechar">
            <img src="assets/Logo.svg" id="logo">
            <div class="email">
                <input type="text" id="user" autocomplete="off" required>
                <label for="user">Email</label>
            </div>
            <b>Ou faça login com:</b>
            <div class="logins">
                <img src="assets/Google.svg">
                <img src="assets/Microsoft.svg">
                <img src="assets/Apple.svg">
            </div>
                <button  > Continuar </button>
            <div class="links">
                <a routerLink="/login2" > Crie uma conta </a>
                <b>.</b>
                <a> Não consigo entrar </a>
            </div>
        </div>
    </section>
</body>
