body{
    box-sizing: border-box;
    background-color: rgb(255,249,179);
    display: flex;
    justify-content: center;
}

.container{
    height: 1100px;
    width: 430px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 3%;
    margin: 30px 0px 0px 20px;
    position: absolute;
}

#card1{
    width: 420px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color:rgb(255, 246, 147);
    border-radius: 10px;
    padding-top: 30px;
}

#card1 h2{
    text-align: center;
    font-size: 30px;
}

#card2{
    width: 420px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color:rgb(255, 246, 147);
    border-radius: 10px;
    gap: 30px;
    padding-top: 30px;
}

#card2 h2{
    text-align: center;
    font-size: 30px;
}

#card2 h3{
    text-align: center;
    font-size: 25px;
}

#card2 h4{
    text-align: center;
    font-size: 45px;
    color: rgb(130, 209, 115);
    margin: 20px 0px 20px;
}

#card2 h5{
    text-align: center;
    font-size: 45px;
    color: rgb(237, 126, 126);
    margin: 20px 0px 20px;
}

#card2 img{
    width: 375px;
    margin-left: 5%;
}

#titulo{
    width: 230px;
    font-size: 26px;
    position: relative;
    left: 28%;
    top: 2%;
    margin: 10px 0px 40px 0px;
}

.template-wrapper {
    width: 70%;
    height: 227px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 470px;
    gap: 40px;
}

.template-wrapper1 {
    width: 50%;
    height: 227px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 180px;
}

.template-wrapper2 {
    width: 70%;
    height: 227px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 430px;
    gap: 40px;
}

.template {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    gap: 15px;
}

#img1 {
    width: 250px;
    height: 150px;
    background-image: url("/assets/negocios.jpg");
    /* Garante que a imagem caiba certinho na div, sem cortes */
    background-size: cover;
    border-radius: 12px;
}

#img2 {
    width: 250px;
    height: 150px;
    background-image: url("/assets/desing.jpg");
    /* Garante que a imagem caiba certinho na div, sem cortes */
    background-size: cover;
    border-radius: 12px;
}

#img3 {
    width: 250px;
    height: 150px;
    background-image: url("/assets/calendario.jpg");
    /* Garante que a imagem caiba certinho na div, sem cortes */
    background-size: cover;
    border-radius: 12px;
}

#img4 {
    width: 250px;
    height: 150px;
    background-image: url("/assets/gestao.jpg");
    /* Garante que a imagem caiba certinho na div, sem cortes */
    background-size: cover;
    border-radius: 12px;
}

#img5 {
    width: 250px;
    height: 150px;
    background-image: url("/assets/planejamento.jpg");
    /* Garante que a imagem caiba certinho na div, sem cortes */
    background-size: cover;
    border-radius: 12px;
}

#img6 {
    width: 250px;
    height: 150px;
    background-color: rgb(93, 102, 93);
    /* Garante que a imagem caiba certinho na div, sem cortes */
    background-size: cover;
    border-radius: 12px;
}

#img7 {
    width: 250px;
    height: 150px;
    background-image: url("/assets/back-end.jpg");
    /* Garante que a imagem caiba certinho na div, sem cortes */
    background-size: cover;
    border-radius: 12px;
}

#img8 {
    width: 250px;
    height: 150px;
    background-image: url("/assets/natal.jpg");
    /* Garante que a imagem caiba certinho na div, sem cortes */
    background-size: cover;
    border-radius: 12px;
}

#img9 {
    width: 250px;
    height: 150px;
    background-color: rgba(77, 77, 77);
    background-size: cover;
    border-radius: 12px;
}

.template h2 {
    font-size: 21px;
    padding: 0px;
}

#criar{
    font-size: 23px;
    padding: 0px;
    font-weight: bold;
}

.next{
    height: 150px;
    display: flex;
    align-items: center;
}
.next img{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
}