<app-header2></app-header2>
<body>
    <section class="container">
        <div class="card" id="card1">
            <h2>Prioridades</h2>
        </div>
        <div class="card" id="card2">
            <h2>Minhas Atividades</h2>
            <h3>Consistência</h3>
            <img src="assets/vector.svg">
            <h3>Tarefas Concluidas</h3>
            <h4>37%</h4>
            <h3>Tarefas a concluir</h3>
            <h5>63%</h5>
        </div>
    </section>
    <h2 id="titulo">Templates populares</h2>
    <section class="template-wrapper">
        <div class="template">
            <div id="img1"></div>
            <h2>Negócios</h2>
        </div>
        <div class="template">
            <div id="img2"></div>
            <h2>Desing</h2>
        </div>
        <div class="template">
            <div id="img3"></div>
            <h2>Calendário</h2>
        </div>    
        <div class="template">
            <div id="img4"></div>
            <h2>Gestão de projetos</h2>
        </div>
        <div class="next">
            <img src="/assets/next.svg">
        </div>    
    </section>
    <h2 id="titulo">Recentes</h2>
    <section class="template-wrapper1">
        <div class="template">
            <div id="img5"></div>
            <h2>Planejamento do dia</h2>
        </div>   
    </section>
    <h2 id="titulo">Meus projetos</h2>
    <section class="template-wrapper2">
        <div class="template">
            <div id="img6"></div>
            <h2>Projeto de teste</h2>
        </div>
        <div class="template">
            <div id="img5"></div>
            <h2>Planejamento do dia</h2>
        </div>
        <div class="template">
            <div id="img7"></div>
            <h2>Projeto back</h2>
        </div>    
        <div class="template">
            <div id="img8"></div>
            <h2>Festa de Natal</h2>
        </div>    
    </section>
    <section class="template-wrapper1">
        <div class="template">
            <img id="img9" src="/assets/plus.svg">
            <h2 id="criar">Crie seu projeto</h2>
        </div>   
    </section>
</body>
<app-footer2></app-footer2>