.main-section {
    background-image: url('/assets/woman.png');
    background-position: center;
    background-size: cover;
    color: #ffff;
    width: 100%;
    height: 670px;
    padding: 150px 90px 90px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Corte transversal */
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
}

.main-section-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.presentation {
    width: 540px;
    height: 228px;
    margin: 0 0 0 50px;
}

.presentation h1 {
    font-family: "Parkinsans", "Inter", "sans-serif";
    font-size: 44px;
}

.presentation h2 {
    width: 450px;
    font-weight: normal;
    font-size: 28px;
}

/* Cards */
.card-wrapper {
    margin: 86px 145px 12rem 145px;
    display: flex;
    gap: 65px;
}

.card {
    width: 380px;
    height: 290px;
    border-radius: 35px;
    padding: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h2 {
    font-family: "Parkinsans", "Inter", "sans-serif";
}

.card p {
    font-size: 20px;
    margin: 8px 0 0 0;
    font-weight: 500;
}

.green {
    background-color: #82D273;
    align-items: end;
    text-align: end;
    position: relative;
}

.green .tracing-1 {
    position: absolute;
    left: -44px;
}

.green .like {
    position: absolute;
    right: 20px;
    bottom: -25px;
    rotate: 8deg;
}

.yellow {
    background-color: #EEE586;
    align-items: center;
    text-align: center;
    position: relative;
}

.yellow .tracing-2 {
    position: absolute;
    right: -30px;
    bottom: -20px;
}

.yellow .smile {
    position: absolute;
    top: -28px;
    left: -14px;
}

.red {
    background-color: #ED7E7E;
    position: relative;
}

.red .checkbox-1 {
    position: absolute;
    top: -48px;
    left: 26px;
}

.red .checkbox-2 {
    position: absolute;
    right: 66px;
    bottom: -28px;
}

.red .tracing-3 {
    position: absolute;
    top: -52px;
    right: -68px;
}

.rectangle {
    background-color: #c0e8b9;
    width: 100%;
    height: 38rem;
    position: absolute;
    top: 58.5rem;
    z-index: -100;
}

/* Sessão de Comentários */
.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.comments h1 {
    font-family: "Parkinsans";
    font-size: 42px;
}

.subtitle {
    color: rgba(0, 0, 0, 0.552);
    font-size: 20px;
}

.comments-wrapper {
    margin: 65px 100px 50px 100px;
}

.arrows {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    background-color: #82D173;
    color: #ffff;
    border: none;
    border-radius: 50px;
    position: absolute;
}

.arrows:hover {
    cursor: pointer;
}

.left {
    left: 0px;
    box-shadow: 5px 5px 10px #2b452684;
}

.right {
    right: 0px;
    box-shadow: -5px 5px 10px #2b452684;
}
.carousel-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 30px 0 30px;
    gap: 45px;
}

.carousel-card {
    width: 380px;
    height: 240px;
    background-color: #ffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px 30px 30px 30px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.241);
    position: relative;
}

.carousel-card .stars {
    width: 170px;
}

.carousel-card .comment {
    text-align: center;
    font-style: italic;
    padding: 0 10px 0 10px;
}

.carousel-card p {
    line-height: 1.2;
}

.carousel-card .user-name {
    font-weight: bold;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.825);
    margin-top: 15px;
}

.carousel-card .user-1, .user-2, .user-3, .user-4 {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    bottom: -41px;
    position: absolute;
}

/* Plataformas */
.platform-wrapper {
    position: relative;
}

.platform-wrapper .title {
    margin: 160px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Parkinsans", "Inter", "sans-serif";
    font-size: 42px;
}

.platform-wrapper img {
    width: 560px;
}

.gradient-1 {
    width: 80rem;
    height: 90rem;
    background-image: radial-gradient(circle, #ec7f7d92, #fff9b3, white, rgba(255, 255, 255, 0.199));
    top: -6rem;
    right: -34rem;
    position: absolute;
    z-index: -100;
}

.gradient-2 {
    width: 82rem;
    height: 110rem;
    rotate: -40deg;
    background-image: radial-gradient(ellipse, #ec7f7dad, #81d273ab, white, rgba(255, 255, 255, 0.237));
    bottom: -30rem;
    left: -30rem;
    position: absolute;
    z-index: -100;
}

.web, .mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 70px;
}

.web .description {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    gap: 15px;
}

.description h1 {
    font-family: "Parkinsans", "Inter", "sans-serif";
    font-size: 32px;
}

.description p {
    font-size: 18px;
    font-weight: bold;
    color: rgb(84, 84, 84);
}

.mobile {
    flex-direction: row-reverse;
    margin-top: 145px;
}

.mobile .description {
    width: 410px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Mensagem do final */
.message {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 8rem;
}

.message h1 {
    font-family: "Parkinsans", "Inter", "sans-serif";
    font-size: 36px;
}

.message p {
    font-size: 22px;
    text-align: center;
}

.message span {
    font-weight: bold;
    color: rgb(84, 84, 84);
}