.main-section {
    background-image: url('/assets/woman.png');
    background-size: cover;
    color: #ffff;
    width: 100%;
    height: 670px;
    padding: 90px;
}

.main-section-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 50px;
}

.presentation {
    width: 550px;
    height: 228px;
}

.presentation h1 {
    font-size: 42px;
}

.presentation h2 {
    width: 450px;
    font-weight: normal;
    font-size: 28px;
}