<app-header></app-header>
<main>
    <!-- Apresentação do app -->
    <section class="main-section">
        <div class="main-section-wrapper">
            <img src="/assets/logo.png" alt="Logo" width="380px" height="380px">
            <div class="presentation">
                <h1>Crie. Organize. Produza.</h1>
                <h2>Com o TaskHub você pode criar tarefas, personalizar e manter seus afazeres em ordem.</h2>
            </div>
        </div>
    </section>

    <!-- Cards -->
    <section class="card-wrapper">
        <div class="card green">
            <img src="/assets/tracing-1.png" class="tracing-1" height="330px">
            <img src="/assets/like.png" class="like" height="90px">
            <h2>Interface Simples</h2>
            <p>Por ser intuitiva e simples, o TaskHub é de fácil uso para todos os tipos de usuários.</p>
        </div>
        <div class="card yellow">
            <img src="/assets/tracing-2.png" class="tracing-2" width="410px">
            <img src="/assets/smile.png" class="smile" width="76px">
            <h2>Personalizável</h2>
            <p>Deixe seu ambiente de tarefas do seu jeito. Personalize como quiser!</p>
        </div>
        <div class="card red">
            <img src="/assets/checkbox-1.png" class="checkbox-1" width="50px">
            <img src="/assets/checkbox-2.png" class="checkbox-2" width="50px">
            <img src="/assets/tracing-3.png" class="tracing-3" width="250px">
            <h2>Rastreie a Consistência</h2>
            <p>Acompanhe a frequência de conclusão das tarefas ou pendências.</p>
        </div>
    </section>

    <div class="rectangle"></div>

    <!-- Sessão de comentários -->
    <section class="comments">
        <h1>Comentários</h1>
        <span class="subtitle">O que os usuários dizem</span>
        <div class="comments-wrapper">
                <button class="arrows left"><</button>
            <div class="carousel-wrapper">
                
                <div class="carousel-card">
                    <img src="/assets/stars.png" class="stars">
                    <div class="comment">
                        <p>De todos os softwares de tarefas que já utilizei, esse com toda a certeza está entre os melhores!</p>
                        <span class="user-name">Cinthia_.</span>
                    </div>
                    <img src="/assets/foto-usuario-1.jpg" alt="Foto de usuário 1" class="user-1">
                </div>
        
                <div class="carousel-card">
                    <img src="/assets/stars.png" class="stars">
                    <div class="comment">
                        <p>Não sou fã de cumprir atividades, então o TaskHub tem me ajudado muito. Obrigada, devs!</p>
                        <span class="user-name">rac.coom</span>
                    </div>
                    <img src="/assets/foto-usuario-2.jpeg" alt="Foto de usuário 2" class="user-2">
                </div>
        
                <div class="carousel-card">
                    <img src="/assets/stars.png" class="stars">
                    <div class="comment">
                        <p>Tenho preguiça de fazer as coisas, mas pelo menos com esse software consigo me organizar</p>
                        <span class="user-name">Catzinho</span>
                    </div>
                    <img src="/assets/foto-usuario-3.jpeg" alt="Foto de usuário 3" class="user-3">
                </div>
        
                <div class="carousel-card">
                    <img src="/assets/stars.png" class="stars">
                    <div class="comment">
                        <p>Software bem funcional e útil, descobri por recomendação de um amigo, planejo usar sempre agora, incrível.</p>
                        <span class="user-name">Takyo</span>
                    </div>
                    <img src="/assets/foto-usuario-4.jpeg" alt="Foto de usuário 4" class="user-4">
                </div>
        
                <button class="arrows right">></button>
            </div>
        </div>
    </section>

    <!-- Plataformas -->
    <section class="platform-wrapper">
        <h1 class="title">Disponível nas plataformas <br> Web e Mobile</h1>
        <div class="gradient-1"></div>
        <div class="web hidden">
            <img src="/assets/desktop.png" alt="Desktop" class="hidden hidden-left">
            <div class="description hidden hidden-right">
                <h1>Diversas funcionalidades</h1>
                <p>O TaskHub Web oferece várias funcionalidades e templates diferentes, com um 
                    gerenciamento prático e intuitivo para facilitar o controle das suas tarefas e prazos.</p>
            </div>
        </div>
        <div class="gradient-2"></div>
        <div class="mobile">
            <img src="/assets/mobile.png" alt="Mobile" class="hidden hidden-right">
            <div class="description hidden hidden-left">
                <h1>Praticidade na palma da mão</h1>
                <p>Com o TaskHub mobile, seus esforços são reduzidos para que sua energia se concentre nas suas tarefas.</p>
            </div>
        </div>
    </section>

    <!-- Mensagem de Impacto -->
    <section class="message">
        <h1>Você no controle</h1>
        <p>Com o TaskHub, sua vida fica mais prática e organizada. Você tem o controle total das suas atividades 
            e consegue gerenciar seu tempo com mais eficiência. Tudo fica mais fácil com o TaskHub. 
            Venha fazer parte dessa transformação!
        </p>
    </section>
</main>

<app-footer></app-footer>