<app-header></app-header>

<!-- Apresentação do app -->
<section class="main-section">
    <div class="main-section-wrap">
        <img src="/assets/logo.png" alt="Logo" width="380px" height="380px">
        <div class="presentation">
            <h1>Crie. Organize. Produza.</h1>
            <h2>Com o TaskHub você pode criar tarefas, personalizar e manter seus afazeres em ordem.</h2>
        </div>
    </div>
</section>

<!-- Cards -->
<section class="card-wrap">
    <div class="card">
        <h3>Interface Simples</h3>
        <p>Por ser intuitiva e simples, o TaskHub é de fácil uso para todos os tipos de usuários.</p>
    </div>
    <div class="card">
        <h3>Personalizável</h3>
        <p>Deixe seu ambiente de tarefas do seu jeito. Personalize como quiser!</p>
    </div>
    <div class="card">
        <h3>Rastreie a Consistência</h3>
        <p>Acompanhe a frequênciade conclusão das tarefas ou pendências.</p>
    </div>
</section>

<!-- Sessão de comentários -->
<section class="comments">
    <h1>Comentários</h1>
    <span>O que os usuários dizem</span>
    <div class="carousel-wrap">
        <button class="left"><</button>
        
        <div class="carousel-card">
            <div class="stars"></div>
            <div class="comment">
                <p>De todos os softwares de tarefas que já utilizei, esse com toda a certeza está entre os melhores!</p>
                <span class="user-name">Cinthia_.</span>
            </div>
            <img src="/assets/foto-usuario-1.jpg" alt="Foto de usuário 1" width="155px" height="155px">
        </div>

        <div class="carousel-card">
            <div class="stars"></div>
            <div class="comment">
                <p>Não sou fã de cumprir atividades, então o TaskHub tem me ajudado muito. Obrigada, devs!</p>
                <span class="user-name">rac.coom</span>
            </div>
            <img src="/assets/foto-usuario-2.jpeg" alt="Foto de usuário 2" width="155px" height="155px">
        </div>

        <div class="carousel-card">
            <div class="stars"></div>
            <div class="comment">
                <p>Tenho preguiça de fazer as coisas, mas pelo menos com esse software consigo me organizar</p>
                <span class="user-name">Catzinho</span>
            </div>
            <img src="/assets/foto-usuario-3.jpeg" alt="Foto de usuário 3" width="155px" height="155px">
        </div>

        <div class="carousel-card">
            <div class="stars"></div>
            <div class="comment">
                <p>Software bem funcional e útil, descobri por recomendação de um amigo, planejo usar sempre agora, incrível.</p>
                <span class="user-name">Takyo</span>
            </div>
            <img src="/assets/foto-usuario-4.jpeg" alt="Foto de usuário 4" width="155px" height="155px">
        </div>
        <button class="right">></button>
    </div>
</section>

<!-- Plataformas -->
<section class="platform-wrap">
    <h1>Disponível nas plataformas Web e Mobile</h1>
    <div class="web">
        <img src="/assets/desktop.png" alt="Desktop">
        <h1>Diversas funcionalidades</h1>
        <p>O TaskHub Web oferece várias funcionalidades e templates diferentes, com um 
            gerenciamento prático e intuitivo para facilitar o controle das suas tarefas e prazos.</p>
    </div>
    <div class="mobile">
        <img src="/assets/mobile.png" alt="Mobile">
        <h1>Praticidade na palma da mão</h1>
        <p>Com o TaskHub mobile, seus esforços são reduzidos para que sua energia se concentre nas suas tarefas.</p>
    </div>
</section>

<!-- Mensagem de Impacto -->
<section class="message">
    <h1>Você no controle</h1>
    <p>Com o TaskHub, sua vida fica mais prática e organizada. Você tem o controle total das suas atividades 
        e consegue gerenciar seu tempo com mais eficiência. Tudo fica mais fácil com o TaskHub. 
        Venha fazer parte dessa transformação!
    </p>
</section>

<app-footer></app-footer>