<body>
    <main>
        <section>
            <div class="card">
                <img src="assets/Fechar.svg" id="fechar">
                <img src="assets/Logo.svg" id="logo">
                <div class="senha">
                    <input type="text" id="user" autocomplete="off" required>
                    <label for="user">Senha</label>
                </div>
                <b>Ou faça login com:</b>
                <div class="logins">
                    <img src="assets/Google.svg">
                    <img src="assets/Microsoft.svg">
                    <img src="assets/Apple.svg">
                </div>
                <button id="continuar"> Continuar </button>
                <button  [routerLink]="['/login']" id="voltar"> Voltar </button>
                <div class="links">
                    <a> Crie uma conta </a>
                    <b>.</b>
                    <a> Esqueci minha senha </a>
                </div>
            </div>
        </section>
    </main>
</body>
